@{
    string PageName = MainMenu.ProductType.PageName;
}
<div class="long-title"><h3>Danh sách @PageName</h3></div>

@(Html.DevExtreme().DataGrid<DevExtremeMvcApp3.Models.ProductType>()
.DataSource(ds => ds.WebApi()
.RouteName("ProductTypesAPIApi")
.LoadAction("Get")
.InsertAction("Post")
.UpdateAction("Put")
.DeleteAction("Delete")
.Key("ProductTypeId")
)
.RemoteOperations(true)
.Columns(columns =>
{

 

columns.AddFor(m => m.ProductTypeName).Caption("Tên loại vật tư");
    
columns.AddFor(m => m.Description).Caption("Mô tả");

}).Editing(e => e.Mode(GridEditMode.Popup)
.AllowAdding(true)
.AllowUpdating(true)
.AllowDeleting(true)
).Paging(p => p.PageSize(10))
.FilterRow(f => f.Visible(true))
.HeaderFilter(f => f.Visible(true))
.GroupPanel(p => p.Visible(true))
.Grouping(g => g.AutoExpandAll(false))
.RemoteOperations(true)
.ColumnMinWidth(150).ColumnResizingMode(ColumnResizingMode.Widget).AllowColumnResizing(true).Scrolling(z=>z.ScrollByContent(true))
.Summary(s => s
.TotalItems(totalItems =>
{
totalItems.AddFor(m => m.ProductTypeId).SummaryType(SummaryType.Count);
})
.GroupItems(groupItems =>
{
groupItems.Add().SummaryType(SummaryType.Count);
})
)
)