@{
    string PageName = MainMenu.SalesType.PageName;
}
<div class="long-title"><h3>Danh sách @PageName</h3></div>

@(Html.DevExtreme().DataGrid<DevExtremeMvcApp3.Models.SalesType>()
.DataSource(ds => ds.WebApi()
.RouteName("SalesTypesAPIApi")
.LoadAction("Get")
.InsertAction("Post")
.UpdateAction("Put")
.DeleteAction("Delete")
.Key("SalesTypeId")
)
.RemoteOperations(true)
.Columns(columns =>
{
 

columns.AddFor(m => m.Description);

columns.AddFor(m => m.SalesTypeName);
}).Editing(e => e.Mode(GridEditMode.Popup)
.AllowAdding(true)
.AllowUpdating(true)
.AllowDeleting(true)
).Paging(p => p.PageSize(10))
.FilterRow(f => f.Visible(true))
.HeaderFilter(f => f.Visible(true))
.GroupPanel(p => p.Visible(true))
.Grouping(g => g.AutoExpandAll(false))
.RemoteOperations(true)
.Scrolling(scrolling => scrolling.ColumnRenderingMode(GridColumnRenderingMode.Virtual))
.Summary(s => s
.TotalItems(totalItems =>
{
totalItems.AddFor(m => m.SalesTypeId).SummaryType(SummaryType.Count);
})
.GroupItems(groupItems =>
{
groupItems.Add().SummaryType(SummaryType.Count);
})
)
)