@{
    string PageName = MainMenu.Branch.PageName;
}
<div class="long-title"><h3>Danh sách @PageName</h3></div>

@using DevExtremeMvcApp3.Models

@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>

@(Html.DevExtreme().DataGrid<Order>()
    .ShowBorders(true)
    .DataSource(d => d.WebApi().Controller("Orders").Key("OrderID"))
    .Columns(columns =>
        {
            columns.AddFor(m => m.OrderID);
        columns.AddFor(m => m.OrderDate);
        columns.AddFor(m => m.CustomerName);
        columns.AddFor(m => m.ShipCountry);
        columns.AddFor(m => m.ShipCity);
        })
    )
)