<div id="BodyChiTietDonHang">

</div>
<script>
    loadGrid();
    function loadGrid() {
        $('#BodyChiTietDonHang').html("Đang tải dữ liệu...");
        $('#BodyChiTietDonHang').load("/SalesOrderLines/Grid?ID=@ViewBag.ID");

    }
</script>